
/* ------------------------------------- third section---------------------------------------- */
/* media query */
@media only screen and (max-width: 600px) {
  .todo-container {
    width: 80%;
    padding: 20px;
    margin: 20px auto;
  }

  .todo-form input {
    width: 80%;
  }

  .todo-form button {
    padding: 5px 10px;
  }

  .task-title {
    font-size: 18px;
  }

  .section-task {
    padding: 10px;
    margin-bottom: 15px;
  }

  .todo-container p {
    width: 200px;
    overflow-wrap: break-word;
  }
}

@media only screen and (min-width: 600px) {
  .todo-container {
    width: 80%;
    padding: 30px;
    margin: 40px auto;
  }

  .todo-form input {
    width: 80%;
  }

  .todo-form button {
    padding: 8px 15px;
    border-radius: 10px;
  }

  .task-title {
    font-size: 22px;
  }

  .section-task {
    padding: 20px;
    margin-bottom: 30px;
  }

  .todo-container p {
    width: 240px;
    overflow-wrap: break-word;
  }
}

@media only screen and (min-width: 768px) {
  .todo-container {
    width: 50%;
    padding: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .todo-container {
    width: 40%;
  }

  .todo-container p {
    width: 230px;
    overflow-wrap: break-word;

  }
}

@media only screen and (min-width: 1200px) {
  .todo-container {
    width: 30%;
  }

  .todo-container p {
    width: 200px;

    overflow-wrap: break-word;
  }

}